* {
      box-sizing: border-box;
      justify-content: center;
    }
    html {
      height: 100%;
    }
    @media screen and(max-width:600px) {
      .card {
        width: 70%;
      }
    }
    body {
      height: 100%;
      background: url(images/car.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .card {
      background: rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      -webkit-backdrop-filter: blur(10px);
      border-radius: 15px;
      border: 2px solid rgba(255, 255, 255, 0.3);
      box-shadow: 5px 3px 20px rgba(0, 0, 0, 0.2);
      padding: 20px;
      color: white;
      width: 500px;
      animation: borderMove 4s linear infinite;
      text-align: center;
    }
    @keyframes borderMove {
      from{
        box-shadow: 0 0 10px 3px rgb(1, 28, 77) ;
      }
     to {
       box-shadow: 0 0 10px 5px rgb(156, 0, 47);}
    }
    .card h1:hover {
      border-bottom: 2px solid rgb(238, 255, 0);
    }
    #email,
    #password,
    #submit {
      border: none;
      margin: 20px auto;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.3);
      width: 75%;
      border-top: 2px solid rgb(255, 2, 2);
      border-bottom: 2px solid pink;
    }
    #email {
      display: flex;
      border-radius: 5px;
      border-top: 2px solid rgb(255, 2, 2);
      border-bottom: 2px solid pink;
    }
    #password {
      display: flex;
      margin-top: 10px;
      border-radius: 5px;
      margin: 0px auto;
    }
    #submit {
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      width: 50%;
      margin-top: 70px;
      align-items: center;
      justify-content: center;
      background-color: white;
      padding: 10px;
      font-family: arial;
      margin-top: 10px;
    }
    #remember {
      border: none;
      margin-top: 20px;
      border: none;
      accent-color: purple;
      border-radius: 5px;
      transform: scale(1.5);
    }
    #forgot {
      text-decoration: none;
      color: rgb(214, 0, 82);
      margin-left: 50px;
      margin-top: 20px;
    }
    #forgot:hover {
      color: yellow;
    }
    #submit:hover {
      background-color: rgba(255, 255, 255, 0.4);
    }
    ::placeholder {
      color: white;
    }
    .register {
      background-image: linear-gradient(rgb(218, 214, 209), pink);
      text-decoration: none;
      border: none;
      padding: 8px;
      width: 120px;
      box-sizing: border-box;
      color: white;
      cursor: pointer;
      display:  flex;
      margin: 10px auto;
      text-align: center;
      justify-content: center;
    }
    a {
      font-family: 24px;
      text-decoration: none;
      color: black;
    }